@using CoreFirstWebSite.Models.Links
@model CategoryListViewModel

@{
    ViewData["Title"] = "Les Liens";
}

<h1>@ViewData["Title"]</h1>

<div>
    <i>Nombre de liens à afficher : @Model.AllLinks.Count() </i>
</div>

<div>
    @foreach (var lien in Model.AllLinks)
    {
        <p class="text-bold">@lien.Name</p>
        <p>@lien.Description</p>
        <a class="btn btn-primary" asp-controller="Links" asp-action="Link" asp-route-idLien="@lien.Id">Modifier</a>
        <a class="btn btn-primary" href="@lien.Url" target="_blank">Go !</a>
    }
</div>

@*on affiche une vue partielle (dossier views/shared)*@
@await Html.PartialAsync("_ReseauxSociaux")

@*on affiche une vue component (dossier views/shared/Components/mMyCategories)*@
@await Component.InvokeAsync("MyCategories")


@section Scripts{
<script src="~/js/Links/index.js" asp-append-version="true"></script>
}

@section FichiersCss{
<link rel="stylesheet" href="~/css/Links/index.css" />
}
